.list3 {
    margin-top: 30px;
    background-repeat: no-repeat;
}
.listitem3 {
    margin-top: 30px;
}

.listitem3 li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
}

.listitem3 li {
    color: #707070;
    margin-top: 25px;
}
.list3 h2 {
    color: #0019ff;
    font-family: vije;
    font-weight: bold;
}
