.list {
    margin-top: 80px;
}
.listitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #707070;
    list-style-color: #0019ff;
}
.listitem li {
    margin-top: 20px;
    width: 50%;
}

.listitem li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
}
.listproblematic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rightitem {
    margin-right: 150px;
}

.rightitem li {
    margin-top: 20px;
}

.rightitem li::before {
    content: "\2022";
    color: blue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
}
.list h2 {
    color: #0019ff;
    font-family: vije;
    font-weight: bold;
}

.list p {
    margin-top: 40px;
    font-family: VijeNeue-Light;
    font-size: 1rem;
}
@media (min-width: 576px) and (max-width: 767.98px) {

.listitem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

}